{% load staticfiles %}
<html>
    <head>
        <title>Button Counter</title>
	<link rel="stylesheet" href="{% static 'chatbot_tutorial/bootstrap/css/bootstrap.min.css' %}">     
    </head>
    <body>
	<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
	</nav>
        {% if user.is_authenticated %}
        <table class="table table-bordered table-dark">
            <tr>
                <th>username</th>
                <th>fat count</th>
                <th>dumb count</th>
                <th>stupid count</th>
            </tr>
            {% for user in users %}
                <tr>
                    <td>{{ user.user }}</td>
                    <td>{{ user.fat }}</td>
                    <td>{{ user.dumb }}</td>
                    <td>{{ user.stupid }}</td>
                </tr>
            {% endfor %}
        </table>
        {% else %}
        <p>You are not logged in</p>
        <a href ="{% url 'login' %}">login</a>
        {% endif %}
    </body>
</html>
